---
import Introduction from "@/components/Introduction.astro";
import ArticleList from "@/spaces/articles/Articles.astro";
import RecentFavourites from "../recent-favourites/RecentFavourites.astro";
import CurrentlyReading from "../currently-reading/CurrentlyReading.astro";
---

<!-- Introduction -->
<Introduction />

<!-- Articles -->
<section>
  <h3>Articles</h3>
  <ArticleList />
</section>

<!-- Currently Reasing -->
<section>
  <h3>Currently Reading / Listening</h3>
  <CurrentlyReading />
</section>

<!-- Recent Favourites -->
<section>
  <h3>Recent Favourites</h3>
  <RecentFavourites />
</section>

<style>
  section {
    @apply my-12;
  }

  section h3 {
    @apply text-2xl font-bold mb-4 font-heading;
  }
</style>
